<div class="component-main">
    <div class="section-icon">
        <img src="../../../../../assets/icons/neural-map-icon.svg" alt="Neural Map Icon">
    </div>

    <div class="section-text">
        <h3>Start Detecting Emotions</h3>
        <p>To make me detect your emotions you need to give me access to your camera.</p>
    </div>

    <div class="section-start">
        <button routerLink="/detect" mat-button>
            Start detection
            <img src="../../../../../assets/icons/play-icon-white.svg" alt="Start Icon" matSuffix>
        </button>

        <p class="author">Created by Patrick Tourniaire</p>
    </div>
</div>