<div class="component-main">

    <div class="section-toolbar">
        <div class="action-buttons">
            <button>
                <img src="../../../../../assets/icons/circleround-icon.svg">
            </button>

            <button>
                <img src="../../../../../assets/icons/square-round-icon.svg">
            </button>

            <button>
                <img src="../../../../../assets/icons/play-round-icon.svg">
            </button>
        </div>

        <div class="model-options">
            <mat-form-field appearance="fill">
                <mat-label>Detection Model</mat-label>
                <mat-select>
                    <mat-option value="option1">Resnet 50</mat-option>
                    <mat-option value="option2" disabled>Fast R-CNN</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="documentation-buttons">

        </div>

        <div class="card-header">

        </div>
    </div>

    <div class="section-camera">

    </div>
    
</div>